<div class="container">
    <div id="en-tete_accueil">

        <h1 id="accueil_titre">Bienvenue <br>sur le site de <br>Galaxy Swiss Bourdin !</h1>

    </div>

    <br>
    <br>

    <div id="text_accueil">
        <h3><b>Description du laboratoire GSB</b></h3>
        <br>
        <br>
        <h4 class="sous-titre_accueil"><b>Le secteur d'activité</b></h4>
        <p class="ligne"></p>
        <p>L’industrie pharmaceutique est un secteur très lucratif dans lequel le mouvement de fusion acquisition est très fort. Les regroupements de laboratoires ces dernières années ont donné naissance à des entités gigantesques au sein desquelles le travail
            est longtemps resté organisé selon les anciennes structures. Des déboires divers récents autour de médicaments ou molécules ayant entraîné des complications médicales ont fait s'élever des voix contre une partie de l'activité des laboratoires
            : la visite médicale, réputée être le lieu d'arrangements entre l'industrie et les praticiens, et tout du moins un terrain d'influence opaque.
        </p>

        <h4 class="sous-titre_accueil"><b>L'entreprise</b></h4>
        <p class="ligne"></p>
        <p>Le laboratoire Galaxy Swiss Bourdin (GSB) est issu de la fusion entre le géant américain Galaxy (spécialisé dans le secteur des maladies virales dont le SIDA et les hépatites) et le conglomérat européen Swiss Bourdin (travaillant sur des médicaments
            plus conventionnels), lui-même déjà union de trois petits laboratoires. En 2009, les deux géants pharmaceutiques ont uni leurs forces pour créer un leader de ce secteur industriel. L'entité Galaxy Swiss Bourdin Europe a établi son siège administratif
            à Paris. Le siège social de la multinationale est situé à Philadelphie, Pennsylvanie, aux Etats-Unis.
            <i class="italic">La France a été choisie comme témoin pour l'amélioration du suivi de l'activité de visite.</i>
        </p>

        <h4 class="sous-titre_accueil"><b>Réorganisation</b></h4>
        <p class="ligne"></p>
        <p>Une conséquence de cette fusion, est la recherche d'une optimisation de l’activité du groupe ainsi constitué en réalisant des économies d’échelle dans la production et la distribution des médicaments (en passant par une nécessaire restructuration
            et vague de licenciement), tout en prenant le meilleur des deux laboratoires sur les produits concurrents. L'entreprise compte 480 visiteurs médicaux en France métropolitaine (Corse comprise), et 60 dans les départements et territoires d'outre-mer.
            Les territoires sont répartis en 6 secteurs géographiques (Paris-Centre, Sud, Nord, Ouest, Est, DTOM Caraïbes-Amériques, DTOM Asie-Afrique). Une vision partielle de cette organisation est présentée ci-dessous.
        </p>

        <br>

        <div class="row">
            <div class="col"><img id="img1" src="assets/img_gsbcarte.png" alt="répartition"></div>
            <div class="col"><img id="img2" src="assets/orga_map.PNG" alt="organisation"></div>
        </div>

        <br>
        <br>

        <p>Après deux années de réorganisations internes, tant au niveau du personnel que du fonctionnement administratif, l'entreprise GSB souhaite moderniser l'activité de visite médicale.</p>

        <br>

        <h3><b>Domaine d'étude</b></h3>
        <p class="ligne"></p>
        <p>L'entreprise souhaite porter une attention nouvelle à sa force commerciale dans un double objectif : obtenir une vision plus régulière et efficace de l'activité menée sur le terrain auprès des praticiens, mais aussi redonner confiance aux équipes
            malmenées par les fusions récentes.</p>

        <br>

        <h4 class="sous-titre_accueil"><b>Les visiteurs</b></h4>
        <p class="ligne"></p>
        <p>La force commerciale d'un laboratoire pharmaceutique est assurée par un travail de conseil et d'information auprès des prescripteurs. Les visiteurs médicaux (ou délégués) démarchent les médecins, pharmaciens, infirmières et autres métiers de santé
            susceptibles de prescrire aux patients les produits du laboratoire.</p>
        <br>
        <p>L'objectif d'une visite est d'actualiser et rafraîchir la connaissance des professionnels de santé sur les produits de l'entreprise. Les visiteurs ne font pas de vente, mais leurs interventions ont un impact certain sur la prescription de la pharmacopée
            du laboratoire.</p>
        <br><img id="img3" src="assets/gsb_hierarchie.PNG" alt="hierarchie chez gsb">
        <p>Pour donner une organisation commune aux délégués médicaux, l'entreprise a adopté l'organisation de la flotte de visiteurs existant chez Galaxy, selon un système hiérarchique par région et, à un niveau supérieur, par secteur géographique (Sud,
            Nord, Paris-Centre, Antilles-Guyane, etc).</p>
        <br>
        <p>Il n'y a pas eu d'harmonisation de la relation entre les personnels de terrain (Visiteurs et Délégués régionaux) et les responsables de secteur. Les habitudes en cours avant la fusion ont été adaptées sans que soient données des directives au
            niveau local.
        </p>
        <br>
        <p class="italic"><i>On souhaite améliorer le contact entre ces acteurs mobiles autonomes et les différents services du siège parisien de l'entité Europe. Il s’agit d’uniformiser la gestion du suivi des visites.</i></p>

        <br>

        <h4 class="sous-titre_accueil"><b>Les visiteurs et les autres services</b></h4>
        <p class="ligne"></p>
        <p>Les déplacements et actions de terrain menées par les visiteurs engendrent des frais qui doivent être pris en charge par la comptabilité. On cherche à agir au plus juste de manière à limiter les excès sans pour autant diminuer les frais de représentation
            qui font partie de l'image de marque d'un laboratoire. Chez Galaxy, le principe d'engagement des frais est celui de la carte bancaire au nom de l'entreprise. Chez Swiss-Bourdin, une gestion forfaitaire des principaux frais permet de limiter
            les justificatifs. Pour tout le reste, le remboursement est fait après retour des pièces justificatives.
        </p>
        <p class="italic"><i>Une gestion unique de ces frais et remboursement pour l'ensemble de la flotte visite est souhaitée.</i></p>
        <br>
        <p>Les visiteurs récupèrent une information directe sur le terrain. Ceci concerne aussi bien le niveau de la confiance qu'inspire le laboratoire que la lisibilité des notices d'utilisation des médicaments ou encore les éventuels problèmes rencontrés
            lors de leur utilisation, etc. Ces informations ne sont actuellement pas systématiquement remontées au siège, ou elles le sont dans des délais jugés trop longs. Le service rédaction qui produit les notices souhaite avoir des remontées plus
            régulières et directes. Ceci permettra également au service labo-recherche d’engager des évaluations complémentaires.
        </p>
        <br>
        <p>Le <i>turn-over</i> des visiteurs est de plus en plus important. Pour un délégué régional et plus encore un responsable de secteur, le suivi des équipes devient une véritable activité : obtenir les coordonnées auprès des services RH lors de l'arrivée
            d'un nouveau personnel, réaliser un suivi personnalisé et former les recrues, etc. </p>
        <br>
        <p class="italic"><i>Un accès plus direct aux données de personnel est nécessaire. </i></p>

        <br>

        <h4 class="sous-titre_accueil"><b>Responsabilités</b></h4>
        <p class="ligne"></p>
        <p>Les équipes du service développement auront notamment à produire puis à fournir les éléments applicatifs permettant :</p>
        <ul>
            <li>L’enregistrement d'informations en provenance des visiteurs</li>
            <li>La gestion des frais de déplacement</li>
        </ul>
        <br>
        <p>Les équipes du service Réseau et système fourniront les équipements et configuration réseau, ainsi que les ressources serveur nécessaires à héberger les applications mises à disposition de la flotte visite.</p>
    </div>
</div>